page-home {
    h1{
        color: red;
    }
    #boxes{
        text-align: center;
    }
    #minus{
        margin:auto;
    }
    #plus{
        margin-left: 40%;
    }
    
    #coco{
     margin-left: 40%;   
    }
    #order{
        margin-left: 45%;
    }
    }
